

<ion-view title="Dash" id="page2">
  <ion-nav-buttons side="left" >
        <div id="container" class="bar bar-header item-input-inset" ng-if="hasFilters">
            <label  id="label" class="item-input-wrapper textbox-search">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input id="searchinput" type="search" placeholder="Search">
            </label>

        </div>
    </ion-nav-buttons>
    <ion-nav-title ng-show="!hasFilters">
        Users
    </ion-nav-title>
    <ion-nav-buttons side="right">

        <a data-tap-disabled="true" class=" button button-icon icon positive" ng-click="openFilters(hasFilters);" ng-class="{'ion-search':!hasFilters,'ion-close-circled':hasFilters}"></a>
    </ion-nav-buttons>

  <ion-content padding="true"  class="hasheader" >


    <div class="list card" id="dash-card21">
      <ion-item class="item-avatar" id="dash-list-item3">
        <h2>Item</h2>
      </ion-item>

      <ion-slide-box style="" on-slide-changed="slideHasChanged($index)">
        <ion-slide >
          <img width:500px src="https://avatars0.githubusercontent.com/u/21017649?v=3&s=88">
        </ion-slide>
        <ion-slide>
          <img src="https://avatars3.githubusercontent.com/u/3864531?v=3&s=88">
        </ion-slide>

    </ion-slide-box>



      <div class="item item-body" id="dash-list-item-container2">
        <div id="dash-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>Some friendly
            <strong>markdown</strong>Some friendly
            <strong>markdown</strong>Some friendly
            <strong>markdown</strong>Some friendly
            <strong>markdown</strong>Some friendly
            <strong>markdown</strong>Some friendly
            <strong>markdown</strong>Some friendlyd
            <strong>markdown</strong>
          </p>
        </div>
        <ion-list id="dash-list2">
          <ion-item class="assertive" id="dash-list-item4" ui-sref="tabsController.post">Read more</ion-item>
        </ion-list>
      </div>
    </div>


  </ion-content>
  <div style="position:fixed; right:2%;bottom:7%; ">
    <div >
        <a ui-sref="tabsController.addAPost" class="btn-floating btn-large waves-effect waves-light red"><i   class="material-icons">add</i></a>
    </div>
  </div>
</ion-view>
