<ion-view title="Edit Profile" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="editProfile-form5" class="list">
      <ion-list id="editProfile-list8">
        <ion-item class="item-avatar" id="editProfile-list-item24">
          <h2>Click on the image </h2>
          <p>to change it </p>
        </ion-item>
        <label class="item item-input item-stacked-label" id="editProfile-input7">
          <span class="input-label">Bio</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input item-stacked-label" id="editProfile-input10">
          <span class="input-label">Rule Of procedure</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
    </form>
  </ion-content>
</ion-view>