<ion-view  data-ng-init=" loadMessage()" title="My Messages" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list ng-repeat="cnv in conv" id="myMessages-list6">
        <ion-item ng-click="clickmessage($index)"   class="item-avatar positive" id="myMessages-list-item16" ui-sref="tabsController.userx">
          <h2positive>{{cnv.conversation[2].sender}}
            <p>{{cnv.subject}}</p>
          </h2positive>
        </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
