<ion-view title="My Profile" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="myProfile-list7">
      <ion-item style="border:0px" class="item-avatar" id="myProfile-list-item23">
        <img style="display:inline" width="10%" height="10%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/220px-User_icon_2.svg.png">

        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <div class="item item-body" id="myProfile-list-item-container6">
      <div id="myProfile-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
        <h3 style="margin-top:0px;color:#575757;">My bio</h3>
      </div>
    </div>
    <div class="item item-body" id="myProfile-list-item-container7">
      <div id="myProfile-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">

        <h3 style="color:#575757;">Rules of procedures:</h3>
        <p>dlkfsmodfdmosdfmodifmsldjfmdjmsdfjfsdm</p>
      </div>
    </div>
    <center>
        <rating readonly="readOnly" ng-model="rating.rate" max="rating.max"></rating>
  </center>
    <a ui-sref="tabsController.editProfile" id="myProfile-button6" class="button button-positive  button-block">Edit Information</a>
  </ion-content>
</ion-view>
