<ion-view  hideTabs title="post" id="page5">
  <ion-content  padding="" class="" >
    <ion-list id="post-list3">
      <ion-item class="item-thumbnail-left positive" id="post-list-item9">
        <h2positive>UserX</h2positive>
      </ion-item>
    </ion-list>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div ng-if="showingmessage" id="post-container1">
      <form id="post-form8" class="list">
        <label class="item item-input" id="post-input13">
          <span class="input-label">My message</span>
          <input type="text" placeholder="">
        </label>
        <button id="post-button9" style="border-radius:20px 20px 20px 20px;" class="button button-assertive  button-block">Send</button>
      </form>
    </div>
    <button ng-click="showingmessage=!showingmessage" id="post-button8" style="border-radius:20px 20px 20px 20px;" class="button button-assertive  button-block button-outline">Send me A text</button>
    <div class="item item-body" id="post-list-item-container5">
      <div id="post-markdown6" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Description</strong>: blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla</p>
      </div>
    </div>
    <div class="item item-body" id="post-list-item-container10">
      <div id="post-markdown12" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Rules of Procedure</strong>: blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla</p>
      </div>
    </div>
    <div class="cover">
        <i style="position:relative;top:4%; font-size:20px; " class="ion-close-round"></i>
        <ul class="list">
    <li class="item">
      ...
    </li><li class="item">
      ...
    </li>
    <li class="item">
      ...
    </li>
    <li class="item">
      ...
    </li>
    <li class="item">
      ...
    </li>
      </ul>
    </div>
      <div ng-click="" class="amenties">
          <div class="lister">
              <i class="ion-wifi"></i>Wifi
          </div>
          <div class="lister">
              <i class="ion-wifi"></i>Wifi
          </div>

          <div class="lister">
              <i class="ion-wifi"></i>Wifi
          </div>






      </div>

  </ion-content>
</ion-view>
