<ion-view title="Userx" id="page8">
  <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item"><i class="icon ion-android-arrow-back"></i> <span class="back-text"></span></button>
  <ion-content padding="true" class="has-header">

    <ion-list  ng-repeat="message in messages" id="">

      <ion-item  class=" messages item-avatar positive"  >

        <h2positive >
          <p ng-bind="message.sender" style="display:inline; padding-right:20px;text-align: left ">:</p> <br>
          <p ng-bind="message.body" style="display:inline; padding-right:20px;text-align: right; color: black"></p>
        </h2positive>
      </ion-item>


    </ion-list>

    <footer style="margin-top:20%" id="chatfooter">
      <label  id="chatinput" class="item-input-wrapper textbox-search">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input ng-model="send.message" id="searchinput" type="search" placeholder="Search">

      </label>
      <button  ng-click="sendnewMessage()" id="sendbutton" class="btn">Send</button>

    </footer>
  </ion-content>
</ion-view>
