<ion-view title="add a post" id="page6">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="addAPost-form1" class="list">
      <ion-list id="addAPost-list5">
        <label class="item item-input" id="addAPost-input2">
          <span class="input-label">Description</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="addAPost-input5">
          <span class="input-label">Rules of Procedure</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="addAPost-input3">
          <span class="input-label">Rent per month</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="addAPost-input6">
          <span class="input-label">City</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-select" id="addAPost-select1">
          <span class="input-label">Number of Rooms</span>
          <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option></option>
          </select>
        </label>
        <ion-checkbox id="addAPost-checkbox10">Essentials</ion-checkbox>
        <ion-checkbox id="addAPost-checkbox9">Closet/Drawers</ion-checkbox>
        <ion-checkbox id="addAPost-checkbox8">Iron</ion-checkbox>
        <ion-checkbox id="addAPost-checkbox7">Hair Dryer</ion-checkbox>
        <ion-checkbox id="addAPost-checkbox5">Shower</ion-checkbox>
        <ion-checkbox id="addAPost-checkbox4">Kitchen</ion-checkbox>
        <ion-checkbox id="addAPost-checkbox1">Wifi</ion-checkbox>
        <ion-checkbox id="addAPost-checkbox3">None smoker</ion-checkbox>
      </ion-list>
      <ion-checkbox id="addAPost-checkbox2">Animal lover</ion-checkbox>
      <button id="addAPost-button4" class="button button-stable  button-block">Submit</button>
    </form>
  </ion-content>
</ion-view>