<ion-view title="Dash" id="page2">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-search"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="dash-card21">
      <ion-item class="item-avatar" id="dash-list-item3">
        <h2>Item</h2>
      </ion-item>
      <a ui-sref="tabsController.addAPost" id="dash-button5" class="button button-positive  button-block">Tap me!</a>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="dash-list-item-container2">
        <div id="dash-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>Some friendly
            <strong>markdown</strong>Some friendly
            <strong>markdown</strong>Some friendly
            <strong>markdown</strong>Some friendly
            <strong>markdown</strong>Some friendly
            <strong>markdown</strong>Some friendly
            <strong>markdown</strong>Some friendly
            <strong>markdown</strong>
          </p>
        </div>
        <ion-list id="dash-list2">
          <ion-item class="assertive" id="dash-list-item4" ui-sref="tabsController.post">Read more</ion-item>
        </ion-list>
      </div>
    </div>
    <div class="list card" id="dash-card22">
      <ion-item class="item-avatar" id="dash-list-item5">
        <h2>Item</h2>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="dash-list-item-container3">
        <div id="dash-markdown3" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="dash-list-item6">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
    <div class="list card" id="dash-card23">
      <ion-item class="item-avatar" id="dash-list-item7">
        <h2>Item</h2>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="dash-list-item-container4">
        <div id="dash-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="dash-list-item8">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
  </ion-content>
</ion-view>