/* Empty. Add your own CSS if you like */
#label{
background-color: #0a9dc7;
  width: 25em;
  color: white;
  height: 115%;

  margin-top:-4%;
  padding-bottom: -3%;

}
#chatinput{
  background-color: #0a9dc7;
    width: 70%;
    height: 100%;
    color: white;

}
ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 30px;
}
#chatfooter{
  position:absolute;
  color: white;
  bottom:9%;
    width: 100%;
    height: 8%;

}
.messages{
  background-color: #f1f1f1;
  color: white;
  border-radius: 10%;
  width: 10em;
  right : 0;
  padding-left: 20px;

  margin-top: 10px;


}
.messages:hover{
    border-bottom: 2px solid #0a9dc7 ;
}
.mymessage {
  text-align: right;
  display: inline;
  background-color: #e4e4e4;
}

#sendbutton{
  background-color:#0a9dc7 ;
  height: 100%;
}

#container{
  padding-bottom: 0px;


}
#chatinput , #sendbutton{
  display: inline-block;
}
#searchinput{
  margin-bottom: 5px;
  margin-top: -5%;
  color : white;
}
.item-body{
  border-left: 0;
  border-right: 0;
}
.lister{
  display: inline;

  padding-left: 8%;
  padding-right: 8%;
  font-size: 20px;
  border-left: solid 1px #e4e4e4;
}
.amenties{
  padding-top: 5%;
  padding-bottom: 100px;
}
.cover{
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
}
