/* Empty. Add your own CSS if you like */
#label{
background-color: #0a9dc7;
  width: 25em;
  color: white;
  height: 115%;

  margin-top:-4%;
  padding-bottom: -3%;

}
#container{
  padding-bottom: 0px;


}

#searchinput{
  margin-bottom: 5px;
  margin-top: -5%;
}
.item-body{
  border-left: 0;
  border-right: 0;
}
.lister{
  display: inline;

  padding-left: 8%;
  padding-right: 8%;
  font-size: 20px;
  border-left: solid 1px #e4e4e4;
}
.amenties{
  padding-top: 5%;
  padding-bottom: 100px;
}
.cover{
  width: 1000px;
  height: 10000px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
}
